
@{
    ViewBag.Title = "Cube";
}

<h2>Cube</h2>
Input integer
<input  type="number" id="num"/>
<input type="submit" id="sub" value="check"/>

<script src="~/Scripts/JQUERY/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/JQUERY/cb.js"></script>