
@{
    ViewBag.Title = "PracticeAjax";
}

<h2>PracticeAjax</h2>
Factorial
<input  type="number" id="num" />
<input type="submit" id="sub" value="Check"/>
<script src="~/Scripts/JQUERY/jquery-3.7.1.min.js"></script>

<script src="~/Scripts/JQUERY/Fact.js"></script>
